# Игнорировать пользовательские настройки
*.vcxproj.user
*.vcxproj.filters

# Временные и кэш-файлы
.vs/
*.obj
*.exe
*.log
*.ipch
*.pch
*.idb
*.suo

# Игнорировать автоматическую папку x64 или Debug/Release
x64/
Debug/
Release/
