# Игнорировать пользовательские настройки
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.csproj
# Временные и кэш-файлы
.vs/
*.obj
*.exe
*.log
*.ipch
*.pch
*.idb
*.suo
*.bin

# Игнорировать автоматическую папку x64 или Debug/Release
x64/
Debug/
Release/
lab1/obj/
